a {
    text-decoration: none;
    color: rgb(97, 97, 97);
}

body {
    font-family: arial, sans-serif;
    font-size: small;
    color: grey;
}

.top-nav {
  display: flex;
  padding: 6px;
  flex-direction: row;
  align-items: center;
}

.nav1 {
  padding: 8px;
}

.nav2 {
  padding: 8px;
}

.nav3 {
  margin-left: auto;
  padding: 8px;
}

.nav4 {
  padding: 8px;
}

.nav5 {
  padding: 8px;
}

.nav6 {
  padding: 8px;
}

.button {
    background-color: rgb(60, 73, 247);
    font: bold;
    color: #ffffff;
    padding: 7px 12px;
    border-radius: 3px;
}

#logo {
    display: block;
    text-align: center;
    padding: 140px 0px 15px 0px;
}

#search-bar {
    display: block;
    text-align: center;
    padding: 5px 0px 15px 0px;
}

.search-buttons {
    display: block;
    text-align: center;
    padding: 18px 0px 325px 0px;
}

.button2 {
    background-color: rgb(243, 243, 243);
    font-size: 11pt;
    color: #424242;
    padding: 10px 14px;
    margin: 5px 5px;
    border-radius: 5px;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(243,243,243);
    padding: 20px 0px 18px 0px;
    border: thin solid rgb(218, 218, 218)
}

.nav7 {
    padding: 3px 15px;
}

.nav8 {
    padding: 3px 15px;
}

.nav9 {
    padding: 3px 15px;
}

.nav10 {
    padding: 3px 15px;
    margin-left: auto;
}

.nav11 {
    padding: 3px 15px;
}

.nav12 {
    padding: 3px 15px;
}